main.tommy {
  background-image: url('/assets/img/tommy.jpg');
  background-size: cover;
  max-width: 1300px;
  width: 80%;
  padding-top: calc(80%*(9/16));
}

div.contact-page {
  display: flex;
}

.social {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}
.fab {
  margin-left: 20px;
  font-size: 20px;
  &.first {
    margin-left: 0;
  }
}
