@import './variables.scss';
header {
  margin: 2rem auto;
  display: flex;

  h1 {
    margin: 0;
    margin-block-end: 0;
    line-height: inherit;
    text-transform: uppercase;
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      list-style: none;
      margin: 0 2vmax;
      text-transform: uppercase;
      font-family: 'Aileron', sans-serif;
      font-size: 12px;

      &.first {
        margin-left: 0;
      }
    }
  }
}
a.nav-item {
  transition: 0.3s;
  color: #555454;
}
.nav-link:hover {
  border-bottom: solid 2px;
}
.active {
  border-bottom: solid 2px;
}
