@import './variables.scss';
@import './elements.scss';

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  width: 98%;
  max-width: 1440px;
}
.partner-logo {
  max-width: 130px;
}

.page-wrap {
  display: flex;
  justify-content: space-between;
}

.copyright {
  text-transform: uppercase;
}

.side-column {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .contact-page.page-wrap {
    flex-direction: column;
    align-items: center;
  }
}
