@import './variables.scss';
@import './elements.scss';
.App {
  width: 70%;
  margin: 0 auto;
}
.partner-logo {
  max-width: 200px;
}
main {

}
.page-wrap {
  display: flex;
  justify-content: space-between;
}
