.video-page {
  width: 100%;
  display: flex;
}
.video-list {
  z-index: -1;
  margin-top: -3%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video-thumb-wrap {
  width: 30%;
  min-width: 300px;
}

.video-thumb-wrap:hover {
  background-color: inherit;
}

.video-thumb {
  flex: 1;
  margin-top: 15%;
  width: 100%;
  padding-top: calc(100%*(1/2.2));
  background-size: cover;
  background-position: center;
}

.thumb-graphic {
  display: none;
  transition: 0.3s;
}

.video-thumb:hover {
  .thumb-graphic {
    display: block;
  }
}

.video-wrap {
  width: 100%;
  padding: 37.99% 0 0 0;
  position: relative;
}
.embedded-video {
  position: absolute;
  top: 0;
  left: 0;
}
.video-info {
  // margin-left: 10px;
  width: 30%;

  h2 {
    margin-top: 0;
  }
}
.video-player {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-page {
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .video-page {
    flex-direction: column;
    align-items: center;
  }

  .video-info {
    margin-top: 2rem;
    width: 90%;

    .partners {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
